[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
rhino-stubs = "*"
grasshopper-stubs = "*"
ladybug-rhino = "*"
pipdeptree = "*"
ladybug = "*"
ladybug-radiance = "*"
lbt-recipes = "*"
matplotlib = "*"
openpyxl = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
